/* Mordern-normalize styles  */

@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}
  
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
  
img {
  display: block;
  max-inline-size: 100%;
}

/* My custom styles */

@font-face {
  font-family: 'belligerent';
  src: url('../fonts/belligerent-webfont.woff2') format('woff2'),
       url('../fonts/belligerent-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

div {
  border: 2px solid black;
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

a:visited {
  color: inherit;
}

a:hover {
  background-color: #3e4770;
  border-radius: 5px;
  color: inherit;
}

/* Background Image styles */

.bg-img {
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/Lake.jpg');
  background-size: cover;
}

.logo {
  margin-top: 25%;
  flex: 0;
  min-height: 10rem;
  background-color: #3e477099;
  justify-content: center;
  gap: 2rem;
  font-family: 'belligerent';
  font-size: 5rem;
  font-weight: 700;
  color: ghostwhite;
  >h1 {
    align-self: center;
  }
}

.img-footer {
  justify-content: center;
  min-height: 2rem;
  margin-bottom: 1rem;
  flex-grow: 0;
  border-color: red;
  color: ghostwhite;
}

/* Form styles */

.form-div {
  flex-grow: 2;
  flex-direction: column;
  background-color: #3e4770E6;
  color: ghostwhite;
}

.legend {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  >p>span {
    font-style: italic;
  }
  >h2 {
    margin-top: 2.5rem;
  }
}

.form {
  flex-grow: 2.5;
  margin-bottom: 10rem;
  background-color: ghostwhite;
  color: #3e4770;
  font-size: 2rem;
}

form > * {
  border: 1px solid black;
}
