/* Mordern-normalize styles  */

@import 'modern-normalize.css';

:root {
  line-height: 1.5;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}
  
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
  
img {
  display: block;
  max-inline-size: 100%;
}

/* My custom styles */

@font-face {
  font-family: 'belligerent';
  src: url('../fonts/belligerent-webfont.woff2') format('woff2'),
       url('../fonts/belligerent-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

div {
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 5px;
}

a:visited {
  color: inherit;
}

a:hover {
  background-color: #3e4770;
  border-radius: 5px;
  color: inherit;
}

/* Background Image styles */

.bg-img {
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/Lake.jpg');
  background-size: cover;
}

.logo {
  margin-top: 25%;
  flex: 0;
  min-height: 10rem;
  background-color: #3e477099;
  justify-content: center;
  gap: 2rem;
  font-family: 'belligerent';
  font-size: 5rem;
  font-weight: 700;
  color: ghostwhite;
  padding: 15px;
  >h1 {
    align-self: center;
  }
}

.img-footer {
  justify-content: center;
  min-height: 2rem;
  margin-bottom: 1rem;
  flex-grow: 0;
  color: ghostwhite;
}

/* Form styles */

.form-div {
  flex-grow: 2;
  flex-direction: column;
  background-color: #3e4770E6;
  color: ghostwhite;
}

.legend {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  justify-content: center;
  >p>span {
    font-style: italic;
  }
  >h2 {
    margin-top: 1rem;
  }
}

.form-fields {
  flex-grow: 3;
  margin-bottom: 10rem;
  background-color: ghostwhite;
  color: #3e4770;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form > p {
  padding-left: 2rem;
  padding-top: 1rem;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.5);
}

.input-controls {
  flex-direction: column;
  padding-bottom: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.row {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  padding-left: 2rem;
  gap: 5rem;
  max-height: 7rem;
}

.row > * {
  align-self: center;
  flex: 0;
}

/* Last section styles */

.form-end {
  padding-left: 2rem;
  font-size: 1.5rem;
  background-color: #3e4770E6;
  padding-top: 20px;
  padding-bottom: 8rem;
  > p {
    color: ghostwhite;
    font-size: 1.25rem;
  }
  > button {
    padding: 10px;
    border-radius: 10px;
    color: #3e4770;
    background-color: ghostwhite;
    transition: background-color 0.2s ease, color 0.2s ease; 
    min-width: 200px;
  }
}

input {
  border-radius: 5px;
  border: 1px solid #3e4770;
}

input:focus {
  border: 1px solid lightblue;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

input:required {
  border: 1px solid firebrick;
}

button:hover {
  font-weight: bold;
}

button:focus {
  color: ghostwhite;
  background-color: #3e4770;
}